.box1 {
    background-color: skyblue;
    width: 100px; /* 가로 크기 */
    height: 100px; /* 세로 크기 */
    border: 5px solid black; /* 박스 테두리 만듦 */
    margin: 20px; /* 상자가 옷 입는다고 생각하면 됨 */
} 

.box2 {
    background-color: violet;
    width: 60px; /* 가로 크기 */
    height: 60px; /* 세로 크기 */    
    border: 5px solid black;
    padding: 20px; /*border(테두리)와 글자 내용 사이 여백 크기 설정 */
    
}
